# Python / Django
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.venv/
env/
.env/
bin/
lib/
include/

# Databases
db.sqlite3
db.sqlite3-journal

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
thumbs.db
*.zip
